:root {
    --stage-1: 25%;
    --stage-2: 50%;
    --stage-3: 75%;
    --stage-4: 100%;

    --progbar-bg: #d3d3d3;
    --stage-1-bg: #ff0000;
    --stage-2-bg: #ff4d00;
    --stage-3-bg: #9edf02;
    --stage-4-bg: #058a05;
}

.*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100svh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.progress-bar {
    width: 20%;
    height: 2rem;
    background-color: var(--progbar-bg);
    border-radius: 50px;
}