:root {
    --font-main: 'Noto Sans';

    /* Colors */
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}

*, *:before, *:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: center;
    font-style: italic;
}

ul, ol {
    padding-inline-start: 0;

    & li {
        list-style: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main), sans-serif;
    background-color: var(--bg-main);
    color: var(--username);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    background-color: var(--bg-card);
    padding: 1rem;

    & .card-image {
        object-fit: cover;
        border-radius: 10px;
    }
}

.card-body {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    padding: 1rem;

    & h3 {
        margin: 0;
        font-weight: 900;
        line-height: 1;
    }

    & p {
        line-height: 1.5;
        margin-block: .5rem;
        font-weight: 600;
    }
}

.card-avatar {
    max-width: 75px;

    & .avatar-img {
        border-radius: 10px;
    }
}

ul {
    display: none;
    gap: 0.75em;
    padding: 1rem;
}

.card:is(:hover) > ul {
    display: flex;
}

li {
    display: flex;
    align-items: center;
    gap: .25rem;
    background-color: var(--bg-stats);
    padding: .25em .5em;
}

.icons {
    width: 1rem;
    padding: 0;
    margin-block: -7rem;
    fill: var(--username);
}



